<!doctype html> 
<html>
<head>
	<meta charset="utf-8">
	<title>lukereid</title>
	<meta name="author" content="{{ site.author.name }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css"> 
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato|Old+Standard+TT' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="container">
		<div id="head" class="clearfix">
			<a href="http://mrluke.github.io/"><img class="gravatar" src="http://1.gravatar.com/avatar/3cf3a155f9d3e48db4b7edacad63c001"></a>

			<ul class="icons">
				<li><a href="{{ site.author.twitter }}"><span class="icon-twitter"></span></a></li>
				<li><a href="{{ site.author.github }}"><span class="icon-github-circled"></span></a></li>
			</ul> 
		</div>
		{{ content }}
	</div>
</body>
</html>