<!doctype html> 
<html>
<head>
	<meta charset="utf-8">
	<title>lukereid</title>
	<meta name="author" content="{{ site.author.name }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css"> 
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato|Old+Standard+TT' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="../favicon.ico" />
	<script type="text/javascript">
	  var GoSquared = {};
	  GoSquared.acct = "GSN-131832-L";
	  (function(w){
	    function gs(){
	      w._gstc_lt = +new Date;
	      var d = document, g = d.createElement("script");
	      g.type = "text/javascript";
	      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
	      var s = d.getElementsByTagName("script")[0];
	      s.parentNode.insertBefore(g, s);
	    }
	    w.addEventListener ?
	      w.addEventListener("load", gs, false) :
	      w.attachEvent("onload", gs);
	  })(window);
</script>
</head>
<body>
	<div id="container">
		<div id="head" class="clearfix">
			<a href="http://mrluke.github.io/"><img class="gravatar" src="http://1.gravatar.com/avatar/3cf3a155f9d3e48db4b7edacad63c001"></a>
			<ul class="icons">
				<li><a href="https://twitter.com/Mr_Luke"><span class="icon-twitter"></span></a></li>
				<li><a href="https://github.com/MrLuke"><span class="icon-github-circled"></span></a></li>
			</ul> 
		</div>
		{{ content }}
	</div>
</body>
</html>
